{% extends "rango/base.html" %}
{% load bootstrap_toolkit %}

{% block body_block %}
<h1>Login</h1>
<div class="jumbotron">
        <form method="post" action=".">
                {% csrf_token %}
                {{ form|as_bootstrap }}

                <input type="submit" value="Log in" class="btn btn-primary" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>

        <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
  </div>
{% endblock %}