{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title  %}
Add Categories
{% endblock %}
{% block body_block %}
<div class="page-header">
                <h1>Enter Category Name</h1>
            </div>
            
<div class="jumbotron">
    <div class="container">
 <form id="category_form" method="post" action="/rango/add_category/">
            {% csrf_token %}
            {% for hiddenfield in form.hidden_fields %}
                    {{hiddenfield|as_bootstrap}}
            {% endfor %}
            {% for field in form.visible_fields %}
                    {{field.errors|as_bootstrap}}
                    {{field.help_text|as_bootstrap}}<br/>
                    {{field|as_bootstrap}}<br/>

            {% endfor %}
           
           <p><input type="submit" class="btn btn-primary" name="submit" value="Create Category" align="center"  /> </p>

        </form>
    </div>
</div>
{% endblock %}
   
       
  
