{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block title %}Add Page{% endblock %}


{% block body_block %}

<div class="page-header">
                <h1>Enter Page Details</h1>
</div>
<div class="jumbotron">
{% if category %}

                <form role="form"  id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/">
            <h3 class="form-signin-heading">Add a Page to <a href="/rango/category/{{category.slug}}/"> {{ category.name }}</a></h3>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {{ field.errors|as_bootstrap}}
                        {{ field.help_text|as_bootstrap }}<br/>
                        {{ field|as_bootstrap }}<br/>
                    {% endfor %}

                <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
                </form>
            {%  else %}
            <p>This is category does not exist.</p>
        {%  endif %}

</div>
        {% endblock %}

