{% extends 'rango/base.html' %}
{% block title %}
Log In 
{% endblock %}
{% block body_block %}
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">


        <form id="login_form" class="form-signin" method="post" action="/rango/login/">
            <h2 class="form-signin-heading">Please sign in</h2>
            {% csrf_token %}

          <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
		  <input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
        </form>
{% endblock %}


  
