{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% block title %}
Add profile details 
{% endblock %}
{% block body_block %}
<h3>Add Profile</h3>
<form id ="profile_form" method = "post" action = "/rango/add_profile/" enctype="multipart/form-data">

		{% csrf_token %}
		
		{{ profile_form|as_bootstrap }}
		<button type="submit" class="btn btn-primary">Register</button>
   

	</form>
{% endblock %}