{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% block title %}
Rango Registration 
{% endblock %}
{% block body_block %}
	{% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/rango/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />
	<form id ="user_form" method = "post" action = "/rango/register/" enctype="multipart/form-data">

		{% csrf_token %}
		{{ user_form|as_bootstrap }}
		{{ profile_form|as_bootstrap }}
		<button type="submit" class="btn btn-primary">Register</button>
   

	</form>
	{% endif %}
{% endblock %}


